services:
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: discord-bot
    env_file:
      - .bot.env
    ports:
      - "3000:3000"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./.backend.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:latest
    container_name: mysql-server
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    env_file:
      - ./.backend.env
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3

  webserver:
    image: nginx:latest
    container_name: nginx-webserver
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
